{% extends "base.html" %}

{% block main %}

    <div class="row-fluid">

        <div class="span2">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li  class="active">
                    <a href="/current">Current Degree</a>
                </li>
                <li>
                    <a href="/what_if">What If?</a>
                </li>
            </ul>
        </div>

        <div class="span10">
            <h3>Fall 13</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Math 165</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">ENGR 101</span><br><br>R Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 185</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Chem 167</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Lib 160</span><br><br>0.5 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Engl 150</span><br><br>3 Credits</div>
                </div>
            </div>

            <h3>Spring 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Math 166</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Phys 221</span><br><br>5 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 166</span><br><br>R Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">ComS 227</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Something</span><br>Gen Ed<br>3 Credits</div>
                </div>

            </div>

            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Math 265</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Phys 222</span><br><br>5 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 281</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">ComS 228</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 294</span><br><br>R Credits</div>
                </div>
            </div>

            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Math 267</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">EE 201</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 288</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Engl 250</span><br><br>3 Credits</div>
                </div>

            </div>

            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Gen Ed<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">EE 230</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 381</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 310</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">ComS 309</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 394</span><br><br>R Credits</div>
                </div>
            </div>

            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Gen Ed<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>EE Elective<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 308</span><br><br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">ComS 311</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Engl 314</span><br><br>3 Credits</div>
                </div>

            </div>



            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Gen Ed<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Tech Elective<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Tech Elective<br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>CprE Elective<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 491</span><br><br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">CprE 494</span><br><br>R Credits</div>
                </div>



            </div>


            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>Gen Ed<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span id="test_parent" style="color: green; font-weight: bold"><button id="test" class="btn btn-mini btn-primary tech">Choose</button></span><br>Tech Elective<br>4 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"><a href="#cpre" role="button" class="btn btn-mini btn-primary" data-toggle="modal">Choose</a></span><br>CprE Elective<br>3 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold"></span><br>ComS Elective<br>2 Credits</div>
                </div>

                <div class="span2">
                    <div class="well"><span style="color: green; font-weight: bold">Stat 330</span><br><br>R Credits</div>
                </div>

            </div>

        </div>

    </div>


    <div id="cpre" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cpreLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="cpreLabel">Choose a CprE Elective</h3>
        </div>
        <div class="modal-body">
            <table class="table">
                <form id="cpre_form">
                    <tr>
                        <th>Class</th>
                        <th>Credits</th>
                        <th>Description</th>
                        <th>Choose</th>
                    </tr>
                    <tr>
                        <td>CprE 329</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="329" value="CprE 329">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 330</td>
                        <td>4</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="330" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 339</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="339" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 388</td>
                        <td>4</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="388" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 416</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="416" value="option1">
                            </label>
                        </td>
                    </tr>
                </form>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="cpre_save" class="btn btn-primary">Save</button>
        </div>
    </div>


{% endblock %}

{% block js %}

    <script>

        $(document).ready(function() {
            $('.tech').on("click", function(e) {
                console.log(e.target.id);
                $('#' + e.target.id + '_parent').html('Test <button class="btn btn-mini">Edit</button>')
            })

            $('#cpre_save').on('click', function() {
                console.log($('input[name=optionsRadio]:checked', '#cpre_form').val())
            })



        });



    </script>


{% endblock %}