{% extends "base.html" %}

{% block main %}

    <h3>Fall 11</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><span class="gbold">Math 165</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">ENGR 101</span><br><br>R Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">CprE 185</span><br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Chem 167</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Lib 160</span><br><br>0.5 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Engl 150</span><br><br>3 Credits</div>
        </div>
    </div>

    <h3>Spring 12</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><span class="gbold">Math 166</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Phys 221</span><br><br>5 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">CprE 166</span><br><br>R Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">ComS 227</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Something</span><br>Gen Ed<br>3 Credits</div>
        </div>

    </div>

    <h3>Fall 12</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><span class="gbold">Math 265</span><br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Phys 222</span><br><br>5 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">CprE 281</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">ComS 228</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">CprE 294</span><br><br>R Credits</div>
        </div>
    </div>

    <h3>Spring 13</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><span class="gbold">Math 267</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">EE 201</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">CprE 288</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><span class="gbold">Engl 250</span><br><br>3 Credits</div>
        </div>

    </div>

    <h3>Fall 13</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><br>Gen Ed<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">EE 230<br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 381<br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 310<br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">ComS 309<br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 394<br><br>R Credits</div>
        </div>
    </div>

    <h3>Spring 14</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><br>Gen Ed<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>EE Elective<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 308</span><br><br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well">ComS 311</span><br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">Engl 314<br><br>3 Credits</div>
        </div>

    </div>



    <h3>Fall 14</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><br>Gen Ed<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>Tech Elective<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>Tech Elective<br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>CprE Elective<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 491<br><br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well">CprE 494<br><br>R Credits</div>
        </div>



    </div>


    <h3>Spring 15</h3><hr>
    <div class="row-fluid">
        <div class="span2">
            <div class="well"><br>Gen Ed<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>Tech Elective<br>4 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>CprE Elective<br>3 Credits</div>
        </div>

        <div class="span2">
            <div class="well"><br>ComS Elective<br>2 Credits</div>
        </div>

        <div class="span2">
            <div class="well">Stat 330<br><br>R Credits</div>
        </div>

    </div>


    <!-- Begin Modals -->
    <div id="cpre" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="cpreLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="cpreLabel">Choose a CprE Elective</h3>
        </div>
        <div class="modal-body">
            <table class="table">
                <form id="cpre_form">
                    <tr>
                        <th>Class</th>
                        <th>Credits</th>
                        <th>Description</th>
                        <th>Choose</th>
                    </tr>
                    <tr>
                        <td>CprE 329</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="329" value="CprE 329">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 330</td>
                        <td>4</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="330" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 339</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="339" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 388</td>
                        <td>4</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="388" value="option1">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>CprE 416</td>
                        <td>3</td>
                        <td><a href="#">Link</a></td>
                        <td>
                            <label class="radio">
                                <input type="radio" name="optionsRadios" id="416" value="option1">
                            </label>
                        </td>
                    </tr>
                </form>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="cpre_save" class="btn btn-primary">Save</button>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>

        $(document).ready(function() {
            $('.tech').on("click", function(e) {
                console.log(e.target.id);
                $('#' + e.target.id + '_parent').html('Test <button class="btn btn-mini">Edit</button>')
            })

            $('#cpre_save').on('click', function() {
                console.log($('input[name=optionsRadio]:checked', '#cpre_form').val())
            })



        });



    </script>


{% endblock %}