{% extends "base.html" %}

{% block main %}

    <div class="row-fluid">

        <div class="span2">
            <ul class="nav nav-pills nav-stacked">

                <li class="active">
                    <a href="#">Test</a>
                </li>
                <li>
                    <a href="#">Test</a>
                </li>
                <li>
                    <a href="#">Test</a>
                </li>

            </ul>
        </div>

        <div class="span10">
            <h3>Fall 13</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well">Math 165</div>
                </div>

                <div class="span2">
                    <div class="well">SE 101</div>
                </div>

                <div class="span2">
                    <div class="well">SE 185</div>
                </div>

                <div class="span2">
                    <div class="well">ComS 227</div>
                </div>

                <div class="span2">
                    <div class="well">Lib 160</div>
                </div>

                <div class="span2">
                    <div class="well">Engl 150</div>
                </div>
            </div>

            <h3>Spring 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well">Math 166</div>
                </div>

                <div class="span2">
                    <div class="well">Phys 221</div>
                </div>

                <div class="span2">
                    <div class="well">SE 166</div>
                </div>

                <div class="span2">
                    <div class="well">ComS 228</div>
                </div>

                <div class="span2">
                    <div class="well">Econ Elective</div>
                </div>

{#                <div class="span2">#}
{#                    <div class="well">Engl 150</div>#}
{#                </div>#}
            </div>

            <h3>Fall 14</h3><hr>
            <div class="row-fluid">
                <div class="span2">
                    <div class="well">Math 267</div>
                </div>

                <div class="span2">
                    <div class="well">Supplemental Elective</div>
                </div>

                <div class="span2">
                    <div class="well">Chem 167</div>
                </div>

                <div class="span2">
                    <div class="well">CprE 281</div>
                </div>

                <div class="span2">
                    <div class="well">Engl 250</div>
                </div>

{#                <div class="span2">#}
{#                    <div class="well">Engl 150</div>#}
{#                </div>#}
            </div>

        </div>

    </div>

{% endblock %}