{% extends "base.html" %}

{% block main %}

    <select id="select">
        <option>Select a major</option>
        <option label="Computer Engineering">Computer Engineering</option>
        <option label="Software Engineering">Software Engineering</option>
        <option label="Computer Science">Computer Science</option>
    </select>


    <div id="cpre" class="content" style="margin-top: 15px; display: none">
        <div class="alert"><b>Computer Engineering</b> is your current major.</div>
    </div>

    <div id="se" class="content" style="margin-top: 15px; display: none">
        <div class="alert">Switching to <b>Software Engineering</b> would add 1 semester to your current graduation date.</div>

        <h3>Fall 11</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><span class="gbold">Math 165</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">ENGR 101</span><br><br>R Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">CprE 185</span><br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Chem 167</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Lib 160</span><br><br>0.5 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Engl 150</span><br><br>3 Credits</div>
            </div>
        </div>

        <h3>Spring 12</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><span class="gbold">Math 166</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Phys 221</span><br><br>5 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">CprE 166</span><br><br>R Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">ComS 227</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Something</span><br>Gen Ed<br>3 Credits</div>
            </div>

        </div>

        <h3>Fall 12</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><span class="gbold">Math 265</span><br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Phys 222</span><br><br>5 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">CprE 281</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">ComS 228</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">CprE 294</span><br><br>R Credits</div>
            </div>
        </div>

        <h3>Spring 13</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><span class="gbold">Math 267</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">EE 201</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">CprE 288</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><span class="gbold">Engl 250</span><br><br>3 Credits</div>
            </div>

        </div>

        <h3>Fall 13</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><br>Econ Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>Splm Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>Math Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">ComS 229<br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">SE 319<br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">Gen Ed<br><br>3 Credits</div>
            </div>
        </div>

        <h3>Spring 14</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><br>Gen Ed<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>EE Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">CprE 308</span><br><br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well">ComS 311</span><br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">Engl 314<br><br>3 Credits</div>
            </div>

        </div>



        <h3>Fall 14</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><br>Gen Ed<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>Tech Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>Tech Elective<br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>CprE Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">CprE 491<br><br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well">CprE 494<br><br>R Credits</div>
            </div>



        </div>


        <h3>Spring 15</h3><hr>
        <div class="row-fluid">
            <div class="span2">
                <div class="well"><br>Gen Ed<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>Tech Elective<br>4 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>CprE Elective<br>3 Credits</div>
            </div>

            <div class="span2">
                <div class="well"><br>ComS Elective<br>2 Credits</div>
            </div>

            <div class="span2">
                <div class="well">Stat 330<br><br>R Credits</div>
            </div>

        </div>

    </div>

{% endblock %}

{% block js %}


    <script>
        $(document).ready(function() {
            $('#select').change(function() {

                if ($('#select').val() === 'Computer Engineering') {
                    $('.content').hide();
                    $('#cpre').show();
                }

                if ($('#select').val() === 'Software Engineering') {
                    $('.content').hide();
                    $('#se').show()
                }

                if ($('#select').val() === 'Computer Science') {
                    $('.content').hide();
                    $('#cs').show()
                }

            })
        })
    </script>

{% endblock %}