{% extends "base.html" %}

{% block main %}

    <div class="row-fluid">

        <div class="span2">
            <ul class="nav nav-pills nav-stacked">

                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/current">Current Degree</a>
                </li>
                <li class="active">
                    <a href="/what_if">What If?</a>
                </li>

            </ul>
        </div>

        <div class="span10">


            <select>
                <option>Select a major</option>
                <option label="Computer Engineering">1</option>
                <option label="Software Engineering">2</option>
                <option label="Computer Science">3</option>
            </select>




        </div>

    </div>

{% endblock %}